* {
    margin: 0;
    direction: rtl;
}

.menu :where(li ul) {
    margin-inline-start: 0rem !important;
}

.tabs-boxed :is(input:checked),
input.tab.tab-power:is(input:checked) {
    background-color: #137ea4 !important;
    border-radius: 9999px !important;
    color: white !important;
    text-align: center !important;
    padding: 4px !important;
    border-color: #137ea4 !important;
}

.tab:is(input[type="radio"]) {
    margin-left: 5rem;
    width: 32px !important;
    height: 32px !important;
    border-color: #d5d5d5;
    border-radius: 9999px !important;
    background-color: white;
    border-width: 2px;
    padding: 2px !important;
    text-align: center !important;
}

input.tab.tab-power:is(input[type="radio"]) {
    width: 160px !important;
    height: 77px !important;
    border-radius: 12px !important;
}

input.tab.tab-power:is(input:checked) {
    background-color: #6aadc5 !important;
    border-color: #d5d5d5 !important;
}

.input:has(> input[disabled]),
.input-disabled,
.input:disabled,
.input[disabled],
.textarea-disabled,
.textarea:disabled,
.textarea[disabled],
.select-disabled,
.select:disabled,
.select[disabled] {
    background-color: white !important;
}

::placeholder {
    color: rgba(108, 122, 137, 1) !important;
    font-weight: normal !important;
}
