* {
    margin: 0;
    direction: rtl;
}

.menu :where(li ul) {
    margin-inline-start: 0rem !important;
}

.tabs-boxed :is(input:checked) {
    background-color: #137EA4 !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 9999px !important;
    color: white !important;
    text-align: center !important;
    padding: 4px !important;
    border-color: #137EA4 !important;
}

.tab:is(input[type="radio"]) {
    width: 32px !important;
    height: 32px !important;
    border-color: #A1AEBE;
    border-radius: 9999px !important;
    background-color: white;
    border-width: 2px;
    padding: 2px !important;
    text-align: center !important;
}